@media screen and (max-width: 820px) {

    header {
        background-image: url("/images/bg-hero-mobile.svg");
      
        .header {
          padding: 2rem 1rem;
        }
      }
      
      .logo {
        img {
          width: 100px;
        }
      }
      
      nav {
        a {
          width: 100px;
          height: 20px;
          font-size: 11px;
        }
      }
      
      div.img-txt {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
      
        .head-txt {
          padding: 0 0 0 0;
          h1 {
            margin-right: 0;
          }
          p {
            margin-right: 0;
            margin-bottom: 2rem;
          }
          a {
            margin: auto;
            font-size: 13px;
            margin: 1.5rem auto 2rem;
          }
        }
      
        .head-img {
          img {
            width: 70vw;
          }
        }
      }
      
      .section {
        flex-direction: column-reverse;
        margin: 7rem 1rem;
        padding: 3rem 1rem 2rem;
        text-align: center;
      
        .sec-left {
          p {
            margin-right: 0;
          }
        }
      
        .sec-right {
          img {
            width: 55vw;
            display: block;
            margin-bottom: 1rem;
          }
        }
      }
      
      .section-two {
        flex-direction: column;
        .sec-two-right {
          h2 {
            margin-left: 0;
          }
          p {
            margin-left: 0;
          }
        }
      }
      
      
      .absolute {
          width: 90%;
          left: 5%;
          top: -130px;
          min-width: 300px;
          padding:  3rem 1rem 2rem;
         h3{
            font-size: 1.2rem;
         }

         a{
            width: 150px;
            height: 40px;
            font-size: 12px;
            margin: 1rem auto;
         }
      }


footer{
    padding: 8rem 1rem 2rem;

    .flex-container{
        flex-direction: column;
        padding: 0;
    }
}

.address{
    width: 100%;
    margin-bottom: 2rem;
}

.links{
    padding: 0;
    
}

.social{
    justify-content: center;
    margin: 2rem 0;
}




























    
}

